<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <input :value="endereco">
        <br>
        <input v-model.lazy="nome" placeholder="v-model do nome">
        <br>
        <input type="text" v-model.trim="email" placeholder="v-model email">
        <br>
        <input type="text" v-model.number="ano" placeholder="v-model do ano">

        <p>:v-model endereço: {{ endereco }}</p>
        <p>nome: {{nome}}</p>
        <p>email: {{email}}</p>
        <p>ano: {{ano}}</p>

        <input type="checkbox" id="receberEmail" v-model="receberEmail">
        <label for="receberEmail">Receber email</label>
        {{receberEmail}}

        <div>
            <input type="radio" name="Azul" id="Azul" v-model="cor" value="Azul">
            <label for="Azul">Azul</label>
            <input type="radio" name="Vermelho" id="Vermelho" v-model="cor" value="Vermelho">
            <label for="Vermelho">Vermelho</label>
            <input type="radio" name="Verde" id="Verde" v-model="cor" value="Verde">
            <label for="Verde">Verde</label>

            {{cor}}

            <div>
                <select v-model="fruta">
                    <option disabled value="">Selecione a fruta</option>
                    <option value="banana">Banana</option>
                    <option value="morango">morango</option>
                    <option value="uva">Uva</option>
                </select>
                {{fruta}}
            </div>
        </div>

    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                nome: "",
                msg: "",
                email: "",
                receberEmail: '',
                cor: "",
                fruta: "",
                ano: "",
                endereco: "dsadsadsadsadsa"
            },
            methods: {

            },
            computed: {

            }

        })
    </script>
    <style>

    </style>
</body>

</html>