<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.js</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <form>
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" v-model="nome">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" v-model="email">
            <label for="telefone">Telefone</label>
            <input type="text" name="telefone" id="telefone" v-model="telefone">
            <label for="mensagem">mensagem</label>
            <textarea type="text" name="mensagem" id="mensagem" v-model="mensagem"></textarea>
            <br>
            <button @click.prevent="enviarFormulario">Enviar</button>
        </form>
        <br>
        <div>
            <ul>
                <li v-for="value, key in resultado">
                    {{key}}: {{value}}
                </li>
            </ul>
        </div>
    </div>
    <script>
        const vm = new Vue({
            el: "#app",
            data: {
                nome: "",
                email: "",
                telefone: "",
                mensagem: "",
                resultado: {}
            },
            methods: {
                enviarFormulario() {
                    this.resultado = {
                        nome: this.nome,
                        email: this.emial,
                        telefone: this.telefone,
                        mensagem: this.mensagem,
                    }
                }
            },
        })
    </script>
    <style>
        label {
            display: block;
        }
    </style>
</body>

</html>